@import "tailwindcss";
@import 'mapbox-gl/dist/mapbox-gl.css';

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --mainclr: #4FA969;  */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* 커스텀 컬러 */
  --color-main: #4FA969;

  /* 폰트 */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  /* 기본적으로 모든 아이콘에 적용될 크기 */
  font-size: 1.25rem; /* 20px */
  /* 텍스트와 아이콘을 수직으로 중앙 정렬 */
  vertical-align: middle; 
  /* 아이콘과 옆 텍스트 사이의 기본 간격 */
  /* margin-right: 0.25rem;  */
}
